<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-*">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/transaction.css') }}">
  <script src="{{ url_for('static', filename='js/index.js') }}" type="module"></script>
</head>
<body>

  <div class="search-card">
    <form>
      <label>
        <input name="memo" type="text" value="" class="search-input"/>
        <span><button data-action="search">search</button></span>
      </table>
    </form>
  </div>

  <div class="transaction-card">
    <div class="transaction-content">
      <label>
        <span class="not-found hidden"></span>
      </label>
      <label>
        <span class="organisation hidden"></span>
      </label>
      <label>
        <span class="address hidden"></span>
      </label>
      <label>
        <span class="description hidden"></span>
      </label>
    </div>
  </div>

</body>
</html>
