{{ define "main" }}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/style.css">
  {{ if (eq .CurrentPage "home") }}<script src="/static/js/index.js" type="module"></script>{{ end }}
</head>
<body>

  <div class="container">
    {{ template "content" . }}
  </div>
</body>
</html>
{{ end }}
